<%= form_for(@twit) do |f| %>
  <% if @twit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twit.errors.count, "error") %> prohibited this twit from being saved:</h2>

      <ul>
      <% @twit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
