<h1>Listing twits</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @twits.each do |twit| %>
  <tr>
    <td><%= link_to 'Show', twit %></td>
    <td><%= link_to 'Edit', edit_twit_path(twit) %></td>
    <td><%= link_to 'Destroy', twit, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Twit', new_twit_path %>
