<img src="http://twitteradar.com/wp-content/uploads/2009/05/twitter-logo1.png" />
<br />
<a href="/users/login"> Log in / out </a>
<br />
<a href="/signup"> Sign up </a>
<br />
<a href="/posts"> Twit </a>

