<img src="http://www.camilleroux.com/wp-content/uploads/2010/03/Ruby_on_Rails_logo-252x300.jpg?119d5e" />
<br />
<a href="/pages/contact"> Contacts </a>
<br />
<a href="/pages/home"> Home </a>
<br />
<a href="/signup"> Sign up </a>
<br />
<a href="/users/edit"> Edit </a>